<a id="return-anchor" href="/"><div id="return-button"><img
      id="back-arrow"
      src="styles/img/left-arrow2.png"
      alt="left arrow"
    />
    <div id="return-text">Back</div>
  </div>
</a>