<div class="lboard_mem">
<<<<<<< Updated upstream
   <div class="name_bar">
      <p><span></span>{{name}}</p>
      <div class="bar_wrap">
         <div class="inner_bar" style="width: 95%"></div>
      </div>
   </div>
   <div class="points">{{score}}</div>
</div>
=======
  <div class="name_bar">
    <p><span></span>{{name}}</p>
    <div class="bar_wrap">
      <div class="inner_bar" style="width: 95%"></div>
    </div>
  </div>
  <div class="points">{{score}}</div>
</div>
>>>>>>> Stashed changes
