<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Leader Board</title>
    <link rel="stylesheet" href="./styles/leaderstyles.css" />
    <script src="/leaderTemplate.js" defer></script>
  </head>
  <body>

    {{!-- {{>header}} --}}
    {{{body}}}
  </body>
</html>